.button {
  width: 152px;
  height: 24px;
  font-family: "Abhaya Libre";
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #0a0a0a, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dfdfdf;
  padding: 6px 12px;
  margin-bottom: 6px;
}
