.cell {
  width: 50px;
  height: 50px;
  position: relative;

  input,
  span.letter {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    padding: 10px;
  }

  input {
    background-color: #0000;
    border: none;
    outline: none;
  }

  .cross {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }

  .cross::before,
  .cross::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: white;
  }

  .cross::before {
    transform: rotate(45deg);
  }

  .cross::after {
    transform: rotate(-45deg);
  }
}
