@font-face {
  font-family: "Abhaya Libre";
  font-weight: 400;
  src: url("./../../assets/fonts/micross.ttf") format("truetype");
}

@font-face {
  font-family: "Abhaya Libre";
  font-weight: 700;
  font-style: bold;
  src: url("./../../assets/fonts/micross.ttf") format("truetype");
}
/*
@font-face {
  font-family: "B612";
  font-weight: 700;
  src: url("./../assets/fonts/B612-bold.ttf") format("truetype");
}
@font-face {
  font-family: "B612";
  font-weight: 700;
  font-style: italic;
  src: url("./../assets/fonts/B612-bold-italic.ttf") format("truetype");
}
 */
