@font-face {
  font-family: micro-ss;
  font-weight: 400;
  src: url("./../assets/fonts/micross.ttf") format("truetype");
}

@font-face {
  font-family: micro-ss;
  font-weight: 700;
  font-style: bold;
  src: url("./../assets/fonts/micross.ttf") format("truetype");
}
