@import "styles/fonts";
@import "styles/reset";

* {
  font-family: Abhaya Libre, fantasy;
  font-size: 16px;
}

html {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.app-wrapper,
.container,
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  background: #c0c0c0;
  padding: 3px;

  .main-content {
    padding: 0 3px 3px;
  }
}
